* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    position: absolute;
    height: 100%;
    min-height: 100%;
    width: 100%;
}

.chat-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.chat-log {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow-y: auto;
    align-items: flex-start;
}

.chat-message:first-child {
    margin-top: auto !important;
}

.chat-message {
    width: 100%;
    flex: 0 0 47px;
}
